@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* BASICS */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    border-collapse: collapse;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    font-family: indivisaRegular;
}
h1{
    font-family: indivisaBold;
    font-size: 1.8rem;
}
h3{
    font-family: indivisaBold;
    font-size: 1.5rem;
}

#main-frame{
    padding: 40px 40px;
    margin: 0;
}

/* PARKING BUTTONS */
#buttons-section{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    margin-top: 10px;
    padding-bottom: 10px;
}

.parking-btn{
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 0px;
    opacity: 0.7;
    transition: all 1s ease;
    /* box-shadow: 0px 2px 0px 0px rgb(0, 48, 0); */
    /* text-decoration: underline;
    text-decoration-color: #CB022E;
    text-underline-offset: 3px; */
}
.parking-btn:hover{
    opacity: 1;
}

/* MAP SECTION */
#map-section{
    background-color: white;
    border: #001440;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#container-images{
    position: relative;
    width: 100%;
    height: auto;
}
#map-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0;
    left: 0;
    image-rendering: auto;   
    transition: transform 1s ease;
    /* cursor: grab;  */
}
.section-image{
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0;
    left: 0;
    image-rendering: auto;   
    transition: all 1s ease;
    opacity: 0;
}

/* INFO SECTION */
.info-text{
    font-size: 1.2rem;
    display: inline;
}

#disponibilidad-circle{
    /* background-color: #D30D3C; */
    background-color: orange;
    display: inline;
    padding: 0px 20px;
    border-radius: 10px;
    margin-left: 20px;
}

#info-parking a{
    padding: 10px 30px;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.7s ease;
}
#info-parking a:hover{
    background-color: #CB022E;
    color: white;
}

#img-acceso{
    display: block;
    width: 100%;
    border-radius: 20px;
    margin: 20px 0;
}
.text-availability{
    font-size: 1.2rem;
    display: inline;
}
.icon-availability{
    font-size: 1.1rem;
    margin-right: 6px;
    display: inline;
}

/* COLORS */
.bg-main{
    background-color: #001440;
    color: white;
}
.bg-second{
    background-color: #f4f5f7;
    color: #001440;
}
#logo{
    width: 180px;    
}

@media (max-width: 575px) {
    .bg-main{
        background-color: #f4f5f7;
        color: #001440;
    }
    .bg-second{
        background-color: #001440;
        color: white;
    }
    #logo{
        width: 180px; 
        content: url('images/logo.png');
    }
}

/* FONTS */
@font-face {
    font-family: indivisaThin;
    src: url(fonts/indivisa_display_sans-thin.woff2);
}
@font-face {
    font-family: indivisaLight;
    src: url(fonts/indivisa_text_sans-light.woff2);
}
@font-face {
    font-family: indivisaRegular;
    src: url(fonts/indivisa_text_sans-regular.woff2);
}
@font-face {
    font-family: indivisaRegular;
    src: url(fonts/indivisa_text_sans-regular.woff2);
}
@font-face {
    font-family: indivisaBold;
    src: url(fonts/indivisa_text_sans-bold.woff2);
}
@font-face {
    font-family: indivisaBlack;
    src: url(fonts/indivisa_text_sans-black.woff2);
}


/* STYLE PARA PÁGINA DE AÑADIR COCHES */
.div-estacionamiento{
    position: relative;
    background-color: #001440;
    color: white;
    border-radius: 20px;
    padding: 20px;
    height: 280px;
}
.btn-modify{
    padding: 3px 10px;
    margin: 0 10px;
    border-radius: 10px;
    transition: all 1s ease;
}
.btn-modify:hover{
    background-color: white;
}

.icon-car{
    color: white;
    font-size: 1.2rem;
    padding-bottom: 10px;
}
.info-parking-cars{
    margin: 0;
    padding: 0;
    margin-top: 10px;
}
.info-parking-capacity{
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.parking-name{
    margin: 0;
    padding: 0;
    opacity: 0.8;
}
.parking-entry{
    margin: 0;
    padding: 0;
    font-weight: 600;
}
.input_cars{
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    width: 50px;
    border-radius: 10px;
    background-color: #dddddd;
    display: block;
}